
   
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  /* background-color: #f4f6f8; */
  color: #333;
}

.dashboard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin:50px auto;
}

.controls {
  width: 100%;
  padding: 20px;
  background-color: #f4f6f8;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.graphs {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #f4f6f8;
}


.controls h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.control-group {
  display: flex;
  width: 25%;
}

.control-group label {
  font-size: 0.9rem;
  
}

.control-group input,
.control-group select {
  padding: 8px;
  background-color: white;
  border: 1px solid green;
  outline: none;
  border-radius: 10px;
}
.control-group input:focus,
.control-group select:focus{
  border: 1px solid orange;
}
.apply-button {
  padding: 10px;
  background: linear-gradient(90deg, green, orange);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 20%;
}

.apply-button:hover {
  
}
.controls h3{
  background: linear-gradient(90deg, green, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.graph {
  flex: 1 1 calc(50% - 20px);
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.graph h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #007bff;
  text-align: center;
}
/* @media (max-width: 768px) {
  .dashboard{
    flex-direction: column;
  }
  .controls{
    width: 100%;
    padding: 0px 50px;
  }
} */
 